{% if content['#topic_intros']|length > 0 %}
  <div class="slot-item">
    <div class="managed list without-date">
      <ul>
        {% for title, link in content['#topic_intros'] %}
          <li>{{title}}, {{link}}</li>
        {% endfor %}
      <ul>
    </div>
  </div>
{% endif %}
