
<!-- ********************************* BEGIN Main Page Content ********************************** -->
<div class="medium-9 columns contentzone" id="main" tabindex="0" role="main">
  {{ content.blog_content }}
</div>
<!-- ********************************* END Main Page Content ********************************** -->

<!-- ********************************* BEGIN Right Rail Content ********************************** -->
<!-- PRE-POPULATED WITH DUMMY CONTENT FOR DEMO. DELETE THIS!!! --> 
<div id="nvcgSlListBlogRTRail" class="medium-3 columns right right-rail">
  <div class="contentid-1070871 slot-item first-SI"><div class="managed list with-date"><p id="Featured+Posts" tabindex="0" class="title">Featured Posts</p><ul><li class="general-list-item general list-item"><div class="title-and-desc title desc container"> <a class="title" href="/about-nci/organization/ccg/blog/2017/xpo1-kras-lung-target">New Lung Cancer Target</a><div class="byline"><p>February 2, 2017, by Amy E. Blum, M.A.</p></div></div></li><li class="general-list-item general list-item"><div class="title-and-desc title desc container"> <a class="title" href="/about-nci/organization/ccg/blog/2017/gdc-dave-tour">A tour of GDC DAVE</a><div class="byline"><p>September 12, 2017, by Zhining Wang, Ph.D.</p></div></div></li><li class="general-list-item general list-item"><div class="title-and-desc title desc container"> <a class="title" href="/about-nci/organization/ccg/blog/2017/tcga-pancan-atlas">TCGA's PanCanAtlas</a><div class="byline"><p>January 9, 2017, by Amy E. Blum, M.A.</p></div></div></li></ul></div></div><div class="contentid-1070868 slot-item last-SI"> <span><div class="desktop"><div id="blog-archive-accordion"><h3 id="archive" class="blog-archive-header">Archive</h3><div id="blog-archive-accordion-year"><ul><li class="year"><a class href="/about-nci/organization/ccg/blog/archive?filter[year]=2019">2019</a> (2)</li><li class="year"><a class href="/about-nci/organization/ccg/blog/archive?filter[year]=2018">2018</a> (10)</li><li class="year"><a class href="/about-nci/organization/ccg/blog/archive?filter[year]=2017">2017</a> (10)</li><li class="year"><a class href="/about-nci/organization/ccg/blog/archive?filter[year]=2016">2016</a> (14)</li></ul></div></div></div> </span></div>
</div>
<!-- ********************************* END Right Rail Content ********************************** -->
