<div class="slot-item equalheight large-4 columns card gutter">
  <div class="feature-card">
    <a href="#">
      <div class="image-hover">
        my image combined
      </div>
      <h3>my external title 2</h3>
    </a>
  </div>
</div>
